<h2 align="center">Sign up</h2>

<%= form_with url: 'create', method: :post do |form| %>
	<p>
		<%= form.label 'Enter e-mail', class: 'form-label' %>
		<%= form.email_field :email, placeholder: 'E-mail', class: 'form-control', id: 'email' %>
	</p>
	<p>
		<%= form.label 'Enter login', class: 'form-label' %>
		<%= form.text_field :login, placeholder: 'Login', class: 'form-control', id: 'login' %>
	</p>
	<p>
		<%= form.label 'Enter password', class: 'form-label' %>
		<%= form.password_field :password, class: 'form-control', id: 'password' %>
	</p>
	<p>
		<%= form.label 'Confirm password', class: 'form-label' %>
		<%= form.password_field :password_confirmation, class: 'form-control', id: 'password-confirmation' %>
	</p>
	<p>
		<%= form.submit 'Sign up', class: 'btn btn-primary' %>
	</p>
<% end %>
<%= link_to 'Already have an account? Sign in!', '../sessions/new' %>